body{
    background: linear-gradient(#FFFFFF, #698fb3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

/* Seletor para a classe .navigationPrincipal */
.navigationPrincipal {
    display: flex; /* Tornar a barra de navegação um flex container */
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
    background-color: #98cfc9;
    height: 4vw;
    text-align: center;
    border-radius: 0 0 25px 25px;
}

/* Estilizando a lista (ul) dentro da navegação */
.navigationPrincipal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Define a lista como um flex container */
}

/* Estilizando os itens da lista (li) */
.navigationPrincipal li {
    width: 10vw;
    height: 4vw;
    align-items: center; /* Alinha verticalmente os itens da lista */
    display:inline-flex;
}

/* Estilizando os links (a) dentro dos itens da lista */
.navigationPrincipal a {
    text-decoration: none;
    color: #000;
    margin: 0 2vw; /* Adicione espaçamento horizontal entre os links */
}

/* Estilizando os links (a) quando o mouse passa por cima */
.navigationPrincipal li:hover {
    background-color: #F3F6F9; /* Altera a cor de fundo no hover */
}